<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="logo"></div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-toolbar translucent>
      <ion-title>Создание проекта</ion-title>
      <ion-button *ngIf="status.addProject" expand="clear" class="closed" (click)="newProjectCancel()" slot="end"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-toolbar>
    <div *ngIf="!status.addProject">
      <ion-card *ngFor="let item of projectList">
        <ion-card-header>
          <ion-item lines="none" class="form-label">
            <ion-checkbox attr.id="{{item.id}}" (ionChange)="addProjectListDelete($event)"></ion-checkbox>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
          </ion-item>
          <ion-card-title>{{item.description}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{item.address}}</p>
          <p>{{item.status}}</p>
          <p>{{item.belongs}}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div  *ngIf="status.addProject">
      <form [formGroup]="newProject" novalidate>
        <ion-item>
          <ion-label position="floating">Название объекта</ion-label>
          <ion-input type="text" formControlName="projectName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">описание объекта</ion-label>
          <ion-input type="text" formControlName="projectDescription"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Адресс объекта</ion-label>
          <ion-input type="text" formControlName="projectAddress"></ion-input>
        </ion-item>
        <ion-list>
          <ion-list-header>
            <ion-label>Статус</ion-label>
          </ion-list-header>
          <ion-radio-group value="biff" formControlName="object">
            <ion-item>
              <ion-label>Объект</ion-label>
              <ion-radio slot="start" value="new_object"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Строение в составе объекта</ion-label>
              <ion-radio slot="start" value="old_object"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </ion-list>
        <ion-list>
          <ion-radio-group value="biff"  formControlName="belongsObject">
            <ion-list-header>
              <ion-label>Принадлежит объекту</ion-label>
            </ion-list-header>

            <ion-item *ngFor="let item of projectList">
              <ion-label>{{item.name}}</ion-label>
              <ion-radio slot="start" attr.value="{{item.id}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </form>
    </div>
  </ion-content>


  <ion-footer class="ion-no-border">
    <div class="footer-but"  *ngIf="!status.addProject">
      <button (click)="createProjectShow()">Добавить</button>
      <button (click)="removeProject()">Удалить</button>
    </div>
    <div *ngIf="status.addProject">
      <ion-button expand="full" color="danger" (click)="addProject(newProject)" [disabled]="!newProject.valid">Создать</ion-button>
    </div>
  </ion-footer>
</div>
