<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="logo"></div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-toolbar translucent>
      <ion-title>Справочная</ion-title>
    </ion-toolbar>
  </ion-content>
</div>
