<ion-content>
  <div class="content">
    <div class="logo"></div>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)" novalidate>
      <ion-grid>
        <ion-row>

          <ion-col size="12" *ngIf="validateError">
            <ion-item color="danger">
              {{textErrOutput}}
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Логин</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" *ngIf="passwordEnable">
            <ion-item>
              <ion-label position="floating">Пароль</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" *ngIf="passwordEnable">
            <ion-button expand="block" size="large" color="danger" class="radius" type="submit" [disabled]="!regForm.valid">Войти</ion-button>
          </ion-col>

          <ion-col size="12" *ngIf="!passwordEnable">
            <ion-button expand="block" size="default" color="danger" class="radius" type="submit" [disabled]="!regForm.valid">Получить новый пароль</ion-button>
          </ion-col>

          <ion-col size="12" *ngIf="passwordEnable">
            <ion-button expand="full" fill="clear" (click)="newPassword()">Забыли пароль?</ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="!passwordEnable">
            <ion-button expand="full" fill="clear" (click)="back()">Войти</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </form>

  </div>
</ion-content>
