.content {
  background: url("../../../assets/bg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 25px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
}

.logo {
  background: url("../../../assets/logo.png") no-repeat center;
  background-size: contain;
  height: 46px;
  width: 100%;
}

form{
  margin: auto;
}
ion-item,ion-button{
  border-radius: 10px;
}
.ion-invalid{

}


